<a href="https://colab.research.google.com/github/abbarcenasj/unifying-data-science-final-project-financial-crisis/blob/master/COVID_Unemployment_USA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [10]:
url = 'https://raw.githubusercontent.com/MIDS-at-Duke/unifying-data-science-final-project-pandemics-unemployment/master/data/unemployment_2016_2020.csv'
unemployment = pd.read_csv(url)
unemployment.head()

     state filed_week_ended  ... covered_employment insured_unemployment_rate
0  Alabama           1/2/16  ...          1,816,714                      1.46
1  Alabama           1/9/16  ...          1,823,207                      1.73
2  Alabama          1/16/16  ...          1,823,207                      1.41
3  Alabama          1/23/16  ...          1,823,207                      1.31
4  Alabama          1/30/16  ...          1,823,207                      1.33

[5 rows x 7 columns]

In [8]:
url = 'https://raw.githubusercontent.com/MIDS-at-Duke/unifying-data-science-final-project-pandemics-unemployment/master/data/effective_dates.csv'
order_date = pd.read_csv(url)
order_date.head()

        state effective_date  order_in_place
0     Alabama     2020-04-04               1
1      Alaska     2020-03-28               1
2     Arizona     2020-03-31               1
3    Arkansas            NaN               0
4  California     2020-03-19               1